.app-layout {
    display: flex;
    height: 100vh;
    background: #121212;
    overflow: hidden;
}


/* ================= CONTENT ================= */

.content-area {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    background: #121212;
}


/* ================= PAGE ================= */

.page-content {
    flex: 1;
    overflow-y: auto;
    overflow-x: hidden;
    padding: 12px 22px 24px;
    background: #121212;
    color: white;
    scrollbar-width: none;
    -ms-overflow-style: none;
}

.page-content::-webkit-scrollbar {
    display: none;
}